*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    /* background-image: url(pizza.jpg); */
    /* background-size: cover; */
    background-color: black;
}
.navbar{
    color: rgb(245, 230, 230);
}
.navbar ul{
    text-decoration: none;
    display: flex;
    font-size: 32px;
    flex-wrap: wrap;
    justify-content: right;
    list-style: none;
    align-content: center;
    padding: 7px;
    margin: 7px;
    top: 7px;

    
    
}
.title1{
    color: rgb(216, 205, 108);
    display: block;
    position: absolute;
    left: 75px;
    font-size: 40px;
    float: right;
    padding: 0px;
    margin: 0px;
    top: 7px;
    /* text-shadow: gray 2px 2px; */
}
img{
    display: flex;
    justify-content: right;
    border-radius: 10px;
    width: 50%;
    right: 10px;
    
}
.navbar ul li a{
    /* border: 2px solid red; */
    text-decoration: none;
    color:rgb(216, 205, 108);
    /* color:black; */
    padding: 0px;
    margin: 26px;
    top: 10px;
    
}
.biryani{
    width: 120%;
/*     display: flex;
    justify-content: right; */
    margin: 10px;
    padding: 10px;
    /* border: 2px solid red; */
    position: absolute;
    width: fit-content;
    left: 0px;
    
}
.biryani img{
    width: 50%;
    /* border: 2px solid red; */
    margin: 0px;
    padding: 0px;
    width: 90%;
    right: 0px;
    left: 0px;

    

}

.navbar ul li:nth-child(5){
    background-color: rgb(250, 157, 17);
    border-radius: 10px;
    font-size: 25px;
    color:black;
    margin: 5px;
    border: 3px solid rgb(250, 157, 17);
    padding: 0px;
    /* margin: 10px;
    padding: 7px; */
    
}
.navbar ul li:nth-child(5):hover{
    background-color: plum;
    border-color: plum;
    cursor: pointer;

}
.navbar ul li a:hover{
    color:plum;
}
.para{
    color: white;
    position: absolute;
    top: 250px;
    right: 100px;
    font-size: 20px;
    font-family: cursive ;
    color:rgb(216, 205, 108);
}
.title2 img{
    width: 4%;
    float: left;
    position: absolute;
    top: 5px;
    left: 16px;
    border: 2px solid rgb(250, 157, 17) ;
}
button{
    background-color:rgb(250, 157, 17) ;
    margin: 0px;
    padding: 8px;
    font-size: 22px;
    border-radius: 10px;
}
button:hover{
    background-color: plum;
    cursor: pointer;
}
.footer{
    /* border: 2px solid red; */
    color: white;
    position: absolute;
    bottom: 0px;
    
}